services:
    app-back:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: lightbot-app
        environment:
            APP_ENV: prod
            DATABASE_URL: mysql://lightbot:lightbot_password@app-db/lightbot
        depends_on:
            app-db:
                condition: service_healthy
        restart: unless-stopped
        networks:
            - lightbot

    app-db:
        image: mysql:8.4
        container_name: lightbot-db
        environment:
            MYSQL_ROOT_PASSWORD: root_password
            MYSQL_DATABASE: lightbot
            MYSQL_USER: lightbot
            MYSQL_PASSWORD: lightbot_password
        volumes:
            - data:/var/lib/mysql
        networks:
            - lightbot
        ports:
            - "3306:3306"
        restart: unless-stopped
        healthcheck:
            test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s

networks:
    lightbot:
        driver: bridge

volumes:
    data: