version: '3.3'

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: lightbot-api
        environment:
            APP_ENV: prod
            DATABASE_URL: mysql://lightbot:lightbot_password@mysql:3306/lightbot
        networks:
            - lightbot

    mysql:
        image: mysql:8.0
        container_name: lightbot-db
        environment:
            MYSQL_ROOT_PASSWORD: root_password
            MYSQL_DATABASE: lightbot
            MYSQL_USER: lightbot
            MYSQL_PASSWORD: lightbot_password
        volumes:
            - mysql_data:/var/lib/mysql
        networks:
            - lightbot

networks:
    lightbot:
        external: true

volumes:
    mysql_data:
